<div class="container">
    
    <div class="contato">
        <h2>Entre em Contato</h2>
        <p><strong>Email:</strong> hendrylnogueira2508&#64;email.com</p>
        <p><strong>WhatsApp:</strong> (41) 99533-8263</p>
        <p>Siga-nos nas redes sociais:</p>
        <div class="redes-sociais">
          <a href="https://www.linkedin.com/in/hendryl-nogueira-0569581b1/" target="_blank" class="linkedin">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/HendrylNogueira" target="_blank" class="github">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
          </a>
        </div>
      </div>
</div>

