ProjetoFullStack/ECommerceAPI/.vs/ECommerceAPI/FileContentIndex/19368729-2840-4504-8048-c207d92712c2.vsidx
ProjetoFullStack/ECommerceAPI/.vs/ECommerceAPI/FileContentIndex/64589af3-1a77-4272-958e-946dce84684d.vsidx
ProjetoFullStack/ECommerceAPI/.vs/ECommerceAPI/FileContentIndex/8343bc32-f5be-416a-b909-397a4d70dd26.vsidx
ProjetoFullStack/ECommerceAPI/.vs/ECommerceAPI/FileContentIndex/b040c42c-0638-46f4-8df0-9cfc87e3f6ca.vsidx
ProjetoFullStack/ECommerceAPI/.vs/ECommerceAPI/FileContentIndex/de5a1273-9842-4203-a304-386d0620c10c.vsidx
