<header class="header">
  <nav>
    <ul>
      <li><a routerLink="/home">Início</a></li>
      <li><a routerLink="/venda">Vendas</a></li>
      <li><a routerLink="/cadastro-produtos">Produtos</a></li>
      <li><a routerLink="/cadastro-clientes">Clientes</a></li>
      <li><a routerLink="/relatorio-venda">Relatorios</a></li>
    </ul>
  </nav>
</header>

<footer>
  <div class="footer-container">
    <p>&copy; 2025 - Todos os direitos reservados</p>
    <nav>
      <a href="#">Sobre</a>
      <a routerLink="/contato">Contato</a>
      <a href="#">Política de Privacidade</a>
    </nav>
  </div>
</footer>


<router-outlet></router-outlet>