<div class="home-container">
    <!-- Header -->
    <header>
      <h1>Bem-vindo ao HN System!</h1>
      <p>Gerencie suas vendas de maneira eficiente.</p>
    </header>
  
    <!-- Cards de Informações -->
    <div class="info-cards">
      <div class="card">
        <h3>Total de Pedidos</h3>
        <p>150 Pedidos</p>
      </div>
      <div class="card">
        <h3>Total de Clientes</h3>
        <p>80 Clientes</p>
      </div>
    </div>
  
    <!-- Botões de Ação -->
    <div class="action-buttons">
      <button routerLink="/cadastro-produtos">Cadastrar Produto</button>
      <button routerLink="/venda">Nova Venda</button>
      <button routerLink="/cadastro-clientes">Cadastrar Cliente</button>

    </div>
  </div>
  