<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quaerat ducimus, debitis velit sunt, distinctio fuga corrupti sit quia nostrum cum assumenda. Modi expedita repudiandae deleniti saepe maiores quibusdam laborum!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quaerat ducimus, debitis velit sunt, distinctio fuga corrupti sit quia nostrum cum assumenda. Modi expedita repudiandae deleniti saepe maiores quibusdam laborum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quaerat ducimus, debitis velit sunt, distinctio fuga corrupti sit quia nostrum cum assumenda. Modi expedita repudiandae deleniti saepe maiores quibusdam laborum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quaerat ducimus, debitis velit sunt, distinctio fuga corrupti sit quia nostrum cum assumenda. Modi expedita repudiandae deleniti saepe maiores quibusdam laborum!</p>



<form>
    <label for="idCliente">idCliente:</label>
    <input type="number" id="idCliente" [(ngModel)]="idClienteAdicionar" [ngModelOptions]="{standalone: true}" (blur)="buscarClientePorId()"/>
  
    <label for="produtoId">produtoId:</label>
    <input type="number" id="produtoId" [(ngModel)]="idProdutoAdicionar" [ngModelOptions]="{standalone: true}" />

    <label for="quantidade">quantidade:</label>
    <input type="number" id="quantidade" [(ngModel)]="quantidadeAdicionar" [ngModelOptions]="{standalone: true}"  />
    
    <button type="submit" (click)="RegistrarVenda()">Enviar</button>
  </form>


<input type="text" [value]="nomeCliente" disabled />

